
<p>
  This hands-on workshop teaches basic concepts, skills and tools for working more effectively with data.  The workshop is for 
  any researcher who has data they want to analyze, and no prior computational experience is required. 
</p>

<p>For researchers who have already been programming and seek to expand their capabilities, our <a href="https://uw-madison-datascience.github.io/2019-01-14-uwmadison-swc/">UW-Madison Software 
  Carpentry workshop (January 14-15)</a> will likely be more appropriate. These two workshops are NOT intended to be taken back-to-back, 
  and you can learn about future workshops at UW-Madison by joining <a href="https://datascience.wisc.edu/newsletter/">the mailing list of UW-Madison’s Data Science Hub</a>.
</p>

<p align="center">
  What is Data Carpentry?  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills needed to conduct
  research.  
  Its lessons are domain specific, building on learners' existing knowledge to enable them to quickly 
  apply skills learned to their own research.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
